.display {
    background-color: white;
    width: 500px;
    margin: 20px;
    border: 3px solid black;
    padding: 50px;
    position: relative;
}

.display-item {
    text-align: center;
    font-size: 60px;
}

.operatorBtns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    margin: 1fr;
    padding: 1fr;
}

.buttons {
    background-color: white;
    border: 3x solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.answer-item {
    text-align: center;
    font-size: 60px;
}