#container {
    width: 105em;
    height: 45em;
    margin: 50px;
    border: 3px solid black;
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 12em auto;
}

.display {
    background-color: white;
    border: 3px solid black;
    height: 10em;
}

.display-item {
    margin: 40px;
    font-size: 70px;
    position: fixed;
}

.numberBtns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.zero {
    grid-row: 4;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1fr;
}

.operatingBtns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

